@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px; /* Adjust the width to make it thinner */
  height: 0px; /* For horizontal scrollbars */
}
::-webkit-scrollbar-thumb {
  background-color: theme("colors.background.100"); /* Give it a subtle color */
  border-radius: 10px; /* Round the corners for a minimalist look */
}

@layer components {
  .spinner {
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.500");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 24px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 5px solid theme("colors.primary.500");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  .animate-rotate {
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
